<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <p>Logo for the page</p>
        <a href="/">Home</a>
        <a href="/dashboard">Puppies</a>
        <a href="/logout">Logout</a>
    </header>
    <body>
        <h2>{{one_liter.breed}}</h2>
        <h3>Details:</h3>
        <p>{{one_liter.home}}</p>
        <p>{{one_liter.quantity}}</p>
        <p>{{one_liter.description}}</p>
    </body>
</body>
</html>